/*
*		created by MC on 2015/1/5
*/

/*
*	MButton
*/
.M-btn:active{
  animation: MBtnClicked 0.2s;
}
@keyframes MBtnClicked{
  100%{
    box-shadow:0 0 26px #57c5f7;
  }
}


/*
*	MSelect
*/

.M-select-open{
	.M-select-dropdown{
		animation: MSelectDropdown 0.3s;
		animation-fill-mode:forwards;
	}
}
.M-select-close{
	.M-select-dropdown{
		animation: MSelectDropUp 0.3s;
		animation-fill-mode:forwards;
	}
}
@keyframes MSelectDropdown{
	0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100%{
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes MSelectDropUp{
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
